
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron bg-primary">
	<h2 class="text-left text-center text-light">Products List</h2>
</div>
<br />
<a asp-action="Create" asp-controller="Products" class="btn btn-success">Add New Product</a>
<br /><br />
<div class="table-responsive">
	<table id="productTable" class="table table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>
<br />
@section Scripts{ 
	<script src="~/app/products/index.js" asp-append-version="true"></script>
}